# .DS_Store in all directories
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# setting for www access
.htaccess
.Rhistory

# rmd notebook from processing script
experiment/processData.nb.html

# ignore html files other than index.html in main folder
 in main folder
/*.html
!index.html

# ignore local folders
experiments
audiorecording

# ignore result files
experiment/data/
