# .DS_Store in all directories
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# setting for www access
.htaccess
.Rhistory

# rmd notebook from processing script
experiment/processData.nb.html

# ignore logs
studyLog.json
urlParamsLog.json

# ignore result files
data/

# exception to the rule
!.keep
!data/recordedFiles/.gitkeep 
